[Unit]
Description=Zeppelin Service
After=podman.service NetworkManager.service
Requires=podman.service

[Service]
Type=simple
ExecStart=/usr/bin/podman-compose -f /home/hung/services/zeppelin/docker-compose.yaml up 
ExecStop=/usr/bin/podman-compose -f /home/hung/services/zeppelin/docker-compose.yaml down -v
Restart=on-failure

[Install]
WantedBy=default.target
