# Set alias for bash
alias ls='lsd --color=auto'
alias la='lsd -a'
alias l.='lsd -d .* --color=auto'
alias grep='grep --color=auto'
alias mb='micromamba'
alias autoexpect='PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin autoexpect'
alias vimfig="vim ~/.vim/vimrc"
alias clients='hyprctl clients'
alias insider='code-insiders'
alias bind='vim ~/.config/hypr/binds.conf'
alias rule='vim ~/.config/hypr/rules.conf'
alias monitor='vim ~/.config/hypr/monitors.conf'
alias hypr='vim ~/.config/hypr/hyprland.conf'
alias python='bpython'
alias dotfiles='/usr/bin/git --git-dir="$HOME/.dotfiles/" --work-tree="$HOME"'
alias pm='podman'
alias pc='podman-compose'
alias fonts='fc-list : family style'
alias ghcs='gh copilot suggest'
alias ghce='gh copilot explain'


# git 
alias ga='git add'
alias gaa='git add .'
alias gau='git add --update'
alias gb='git branch'
alias gbd='git branch -d'
alias gba='git branch -a'
alias gc='git commit'
alias gcm='git commit -m'
alias gca='git commit --amend'
alias gco='git checkout'
alias gp='git push'
alias gpf='git push --force'
alias gpl='git pull'
alias gplf='git pull --force'
alias gs='git status'
alias gl='git log --oneline --graph --all --decorate'
alias gm='git merge'
