[core]
	editor = vim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://git.viettelpost.vn"]
	username = hungnd63
	helper = store --file /home/hung/.hung.cred
[user]
	email = hungnd63@os.viettel.com.vn
	name = Hung Nguyen Duy - BI BU
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
